{% extends 'base.html' %}

{% block movies %}
<!-- Movies -->
<script>
    // var month = new Array();
    // month[0] = "Jan"; month[1] = "Feb"; month[2] = "Mar"; month[3] = "Apr"; month[4] = "May"; 
    // month[5] = "Jun"; month[6] = "Jul"; month[7] = "Aug"; month[8] = "Sept"; month[9] = "Oct"; 
    // month[10] = "Nov"; month[11] = "Dec";

    // store movie id 
    var savingid = '';
    // this function is used to get actors data and convert it to json object 
    assignedActors = assignedActorsFunc({{obj| tojson}})
    function assignedActorsFunc(vars) {
        return vars;
    }
    // this function is used to get movies data and convert it to json object 
    MoviesList = MoviesListFunc({{ data| tojson}})
    permissions = localStorage.getItem("permsLength");
    function MoviesListFunc(vars) {
        return vars;
    }
</script>
<section class="projects-section bg-light" id="ViewMovies">
    <div class="container">
        <div style="margin-left: 80px;" class="row justify-content-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-3"></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4 style="margin-left: 80px;">View Movies</h4>
                    <p class="text-black-50 mb-0"> This page allows you to add, edit and delete movies. Also allows you to 
                        view movies details by clicking on (> Movie Details)
                    </p>
                </div>
                <div id="myModal" class="modal">
                    <!-- Modal create movie content -->
                    <div id="addModal" class="modal-content">
                        <span class="close"></span>
                        <p>Add New Movie</p>
                        <form id="formElem" onsubmit="event.preventDefault(); postMovie()">
                            <label for="title">Movie Title: </label> <br />
                            <input type="text" id="title" name="title"><br><br>
                            <label for="Release">Release Date:</label> <br />
                            <input type="month" min="1950-03" value="2020-05" id="Release" name="Release"><br><br>
                            Movie Description: <br />
                            <textarea rows="5" cols="50" name="Details"
                                placeholder="Enter description here..."></textarea>
                            <div class="btn-group">
                                <button class="btn btn-primary text-center" style="margin: 10px; margin-left: 100px;">
                                    Save
                                </button>
                                <button class="btn btn-primary text-center" style="margin: 9px; margin-left: 2px;"
                                    href="#" rel="modal:close">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="myeditModal" class="modaledit">
                    <!-- Modal Ypdate Movie content -->
                    <div id="editModal" class="modaledit-content">
                        <span class="close"></span>
                        <p>Edit Movie Details</p>
                        <form id="formElemEdit" onsubmit="event.preventDefault(); saveing(savingid)">
                            <label for="title">Movie Title: </label> <br />
                            <input type="text" id="title" name="title"><br><br>
                            <label for="Release">Release Date:</label> <br />
                            <input class="Release" type="date" id="Release" name="Release"><br><br>
                            Movie Description: <br />
                            <textarea rows="5" cols="50" name="Details"
                                placeholder="Enter description here..."></textarea>
                            <div class="btn-group">
                                <button id="save" class="btn btn-primary text-center"
                                    style="margin: 10px; margin-left: 100px;">
                                    Save
                                </button>
                                <button class="btn btn-primary text-center" style="margin: 9px; margin-left: 2px;"
                                    href="#" rel="modaledit:close">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Link to open the modals -->
                <a id="save" class="btn btn-primary text-center" style="margin: 10px; margin-left: 100px;"
                    href="#addModal" rel="modal:open">
                    Add Movies
                </a>
            </div>
        </div>
        <div id="movieCards" class="row justify-content-center no-gutters mb-5 mb-lg-0">
        </div>

        <script>
            // holds actors names if a movie has more than one
            listOfActors = []
            // temporary array for holding actors of the same movie 
            actors = []

            // iterate through the list of actors in a movie
            // and appened data to listOfActors array
            assignedActors.forEach((result2, idx) => {
                listOfActors.push(result2)  
            })

            // iterate through movies list 
            // @ result list of movie json objects
            MoviesList.forEach((result, idx) => {
                // format Date before appened to html tag
                var d = new Date(result.release_date)
                var movieDate = d.getFullYear()
                // holds actor name to map to a movie
                var actorName = ''

                // loop through listOfActors to determine which movie 
                // an actor belongs to then appened to movie object {result}
                for (i = 0; i < listOfActors.length; i++) {
                    console.log('test... ', listOfActors[i])
                    if (result.id == listOfActors[i].movieId){ 
                        actors.push(listOfActors[i].actor)
                        result['actorName'] = actors
                    }
                }
                // empty actors temp array to prevent 
                // assigning wrong actors to other movie
                actors = []

                // define actors card container to be created dynamically
                const container = document.getElementById('movieCards');
                // Create card element
                const card = document.createElement('div');
                card.classList = 'card-body';
                // Construct card content
                const content = `
                <div class="col-xl-12 col-lg-4">
                    <div class="mycard" style="margin: 10px;">
                        <div class="showrow">
                    <div class="showcolumn">
                        <div class="showcard">
                            <div class="mycontainer">
                            <h4>
                               <h3> ${result.title}</h3>
                            </h4>
                            <img style="display: block; margin-left: auto; margin-right: auto; width:40%; height:70px" src="{{ url_for('static', filename='assets/img/movie_main_logo_main.jpg') }}" alt="Avatar">
                            <br>
                                <p><i class='far fa-calendar-alt' style='font-size:24px'></i> ${movieDate}</p>
                                <p><i class="fa fa-star" style="font-size:18px;color:#FFD700"></i> <h6 id="stars"></h6>
                                    ${result.actorName}
                                    </p>
                                <details>
                                    <summary>Movie Details</summary>
                                    <p>${result.movie_details}</p>
                                </details>
                            <div  class="col-xl-4 col-lg-5">
                                <div id="editDel" class="btn-group">
                                    <a id="edit" class="editButton" href="#editModal" rel="modal:open" onclick="geteditMoviedata('${result.id}','${result.title}', '${result.release_date}', '${result.movie_details}')">
                                        Edit
                                    </a>
                                    <a  id="delete" class="deleteButton" href="#addModal" style="margin-left: 70px" onclick="deleteMovie(${result.id})">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                    </div>   
                </div>
                `;

                // Append newyly created card element to the container
                container.innerHTML += content;
                // Disable edit and delete buttons if user not authorized
                if (permissions <= 2) {
                    var editButton = document.getElementById("movieCards").querySelectorAll("#edit");
                    var deleteButton = document.getElementById("movieCards").querySelectorAll("#delete");
                    editButton.forEach(ed => {
                        ed.remove()
                    });
                    deleteButton.forEach(ed => {
                        ed.remove()
                    });
                    disableaddButton();
                }
                html = "";
            });
            function disableaddButton() {
                try {
                    $(document).ready(function () {
                        $("#save").remove();
                    });
                } catch (err) {
                    console.log('error ', err)
                }

            }
        </script>
        <script>
            async function geteditMoviedata(id, title, release_date, movie_details) {
                savingid = id;
                var movieDate = new Date(release_date)
                formElemEdit.elements["title"].value = title;
                formElemEdit.elements["Release"].value = movieDate.toISOString().slice(0, 10);
                formElemEdit.elements["Details"].value = movie_details;

                if (event.target.id !== 'edit') {
                    console.log('Updating...')
                    savingid = id;
                }
            };
            async function saveing(id) {
                title = formElemEdit.elements["title"].value;
                Release = formElemEdit.elements["Release"].value;
                Details = formElemEdit.elements["Details"].value;

                dataObj = {
                    title: title,
                    release_date: Release,
                    movie_details: Details,
                };
                postdata = [];
                postdata.push(dataObj);
                try {
                    const data = await sendData(`/movies/${id}`, postdata, "PATCH");
                    if (data.success) {
                        location.reload();
                        location.href = "/movies#ViewMovies";
                    } else {
                        throw data.message;
                    }
                } catch (error) {
                    iziToast.error({
                        title: "Error",
                        message: error,
                    });
                }
            }
        </script>
    </div>
</section>
{% endblock %}